<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <title>API 정보 입력 페이지</title>
  <link rel="icon" type="image/x-icon" href="web/static/favicon.ico" />
  <link rel="stylesheet" href="/web/static/css/input_styles.css">
</head>
<body>
  <h1>API 정보 입력 페이지</h1>
  <form id="apiForm" action="http://127.0.0.1:18000">
    <div class="input-group">
      <label for="ip">IP (엔드포인트 주소):</label>
      <input type="text" id="ip" name="ip" placeholder="예: http://127.0.0.1:3000/list" />
    </div>
    
    <div class="input-group">
      <label for="method">method:</label>
      <select id="method" name="method">
        <option value="POST">POST</option>
        <option value="GET">GET</option>
        <option value="DELETE">DELETE</option>
        <option value="PUT">PUT</option>
      </select>
    </div>

    <div class="input-group">
      <label for="content">content:</label>
      <textarea id="content" name="content" placeholder="본문 내용을 JSON 또는 일반 텍스트로 입력"></textarea>
    </div>

    <div class="input-group">
      <label for="jsonFile">JSON 파일 업로드:</label>
      <input type="file" id="jsonFile" name="jsonFile" accept="application/json" />
    </div>

    <div class="container">
      <div class="input-group">
        <label for="repeatCount">반복 횟수:</label>
        <input type="number" id="repeatCount" name="repeatCount" value="1" min="1" style="width: 80px;" />
      </div>
      <button id="sendBtn" type="submit">전송</button>
    </div>
  </form>
  
  <br>

  <script src="/web/static/js/input_script.js"></script>
</body>
</html>