<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>API 통신 현황</title>
  <link rel="icon" type="image/x-icon" href="web/static/favicon.ico" />
  <link rel="stylesheet" href="/web/static/css/main_styles.css">
</head>
<body>
  <h1>API 통신 현황</h1>

  <table id="apiTable">
    <colgroup>
      <col style="width: 5%;">
      <col style="width: 7%;">
      <col style="width: 10%;">
      <col style="width: 8%;">
      <col style="width: 18%;">
      <col style="width: 18%;">
      <col style="width: 12%;">
      <col style="width: 7%;">
      <col style="width: 5%;">
      <col style="width: 10%;">
    </colgroup>
    <thead>
      <tr>
        <th>Index</th>
        <th>Method</th>
        <th>User-Agent</th>
        <th>Client IP</th>
        <th>Request</th>
        <th>Response</th>
        <th>Time</th>
        <th>Request Status</th>
        <th>Response Code</th>
        <th>Error Message</th>
      </tr>
    </thead>
    <tbody>
      <!-- 데이터는 JavaScript를 통해 동적으로 삽입 -->
    </tbody>
  </table>

  <button id="recentBtn">최근 조회</button>

  <script src="/web/static/js/main_script.js"></script>
</body>
</html>
